<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PopCorn</servlet-name>
		<servlet-class>popcorn.PopCornServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PopCorn</servlet-name>
		<url-pattern>/popcorn</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>popcorn.SignPopCornServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>Rating</servlet-name>
        <servlet-class>popcorn.RatingPopCornServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rating</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>popcorn.jsp</welcome-file>
	</welcome-file-list>
</web-app>
