#apDivMenu {
    position: fixed;
    width: 1328px;
    height: 60px;
    left: 6px;
    top: 1px;
    background-color: #262626;
    border-radius: 5px;
    z-index: 1;
}
#apDivLogo {
    position: absolute;
    width: 380px;
    height: 50px;
    left: 20px;
    top: 5px;
    background: url('logo.jpg');
    background-image: url('logo.jpg');
    z-index: 1;
}
#apDivBotones {
    position: absolute;
    width: 840px;
    height: 50px;
    left: 400px;
    top: 5px;
    background-color: #262626;
    z-index: 1;
}
#apDivMarcoFin {
    position: absolute;
    width: 30px;
    height: 50px;
    left: 1240px;
    top: 5px;
    background: url('marco_fin.jpg');
    z-index: 1;
    
}
#apDivSocial {
    position: fixed;
    width: 1328px;
    height: 39px;
    left: 6px;
    top: 61px;
    background: url('marco_busqueda.jpg');
    border-radius: 5px;
    z-index: 1;
}
#apDivLogoAppEngine {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 20px;
     top: 5px; 
    border-radius: 5px;
}
#apDivBotonGoogle {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 8px;
    left: 200px;
    z-index: 1;
}
#apDivBotonFace {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 8px;
    left: 227px;
    z-index: 1;
}
#apDivBotonTwitt {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 8px;
    left: 254px;
    z-index: 1;
}
#apDivGog1 {
    position: absolute;
    height: 24px;
    top: 8px;
    left: 282px;
    z-index: 1;
}
#cse-search-form {
    position: absolute;
    width: 400px;
    height: 23px;
    left: 910px;
    top: -4px;
    z-index: 1;
}

#apDivLogin {
    position: fixed;
    width: 1328px;
    height: 39px;
    left: 6px;
    top: 100px;
    background-color: #DDDDDD;
    border-radius: 5px;
    z-index: 1;
}
#apDivInicioSesion {
    position: absolute;
    width: 800px;
    height: 23px;
    top: 8px;
    left: 40px;
}
#apDivFecha {
    position: absolute;
    width: 400px;
    height: 23px;
    top: 10px;
    left: 1000px;
}
#apDivPanel {
    position: fixed;
    width: 218px;
    height: auto;
    left: 6px;
    top: 139px;
    background-color: #cbcbcb;
    border-radius: 5px;
}
#apDivNombrePanUsuario {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: url('fondopanel.jpg');
    text-align: center;
}
#apDivPanUsuario {
    width: 215px;
    height: auto;
    left: 6px;
    background-color: #FFF;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: #6495ED;
}
#apDivNovedades {
    width: 216px;
    height: 276px;
    left: 6px;
    top: auto;
    background-color: #FFF;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: #6495ED;
}
#apDivNombreNovedades {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    /* border-radius: 5px; 
    left: 2px; */
    background: url('fondopanel.jpg');
    text-align: center;
    /*       border-style:solid;
    border-width:1px;
    border-color: #6495ED;*/
}
#apDivGeneral {
    position: relative;
    width: 1107px;
    height: auto;
    left: 216px;
    top: 131px;
    background-color: #687597;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: #6495ED;
}
#apDivGaleria {
    top: 5px;
    right: 15px;
}
#apDivTGal {
    top: 5px;
    left: 5px;
}
#apDivContenedorPelicula {
    width: 100%;
    height: auto;
}
#apDivTituloPelicula {
    position: relative;
    height: auto;
    text-align: center;
    top: -275px;
}
#apDivImagenPelicula {
    position: relative;
    width: 387px;
    height: auto;
    left: 100px;
    top: 50px;
}
#apDivInformacionPelicula {
    position: relative;
    width: 387.1px;
    height: auto;
    left: 500.3px;
    top: -257px; 
}
#apDivValoracion {
    position: absolute;
    width: 30%;
    height: 13%;
    left: 110px;
    top: 400px;
}
#apDivMediaValoracion {
    position: absolute;
    width: 50%;
    height: 5%;
    left: 110px;
    top: 450px;
}
#apDivTrailer {
    width: 30%;
    height: 10%;
    left: 65%;
    top: 85%;
}
#apDivContenedorComentario {
    position: relative;
    margin-left: 45%;
    width: 48.8%;
    height: 30%;
    top: -270px;
}
#apDivComenta {
    position: relative;
    width:100%;
    height:20%;
}
#apDivVerComentarios {
    position: relative;
    width: 70%;
    top: -240px;
    left: 25%;
    right: 10%;
}
#apDivComenColocacion {
    width: 66%;
    /*height: 80%;*/
    left: 2%;
    top: 2%;
}
#apDivSinopsis {
    width: 49%;
    left: 50%;
    top: 50%;
    height: 24.8%;
}
#apDivTextoSinopsis {
    width: 90%;
    left: 10%;
}

        /* MENU */
        
.invertedshiftdown{
padding: 0;
width: 100%;
border-top: 8px solid #6495ED; /*Red color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.invertedshiftdown ul{
margin:0;
margin-left: 40px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.invertedshiftdown li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown a{
float: left;
display: block;
font: bold 12px Arial;
color: black;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 9px 10px; /*Padding within each menu item*/
background-color: white; /*Default menu color*/

/*BELOW 4 LINES add rounded bottom corners to each menu item.
  ONLY WORKS IN FIREFOX AND FUTURE CSS3 CAPABLE BROWSERS
  REMOVE IF DESIRED*/
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

.invertedshiftdown a:hover{
background-color: #6495ED; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: white;
}

.invertedshiftdown .current a{ /** currently selected menu item **/
background-color: #6495ED; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: white;
}

#myform{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
margin-top: 2px;
padding: 0;
}

#myform .textinput{
width: 190px;
border: 1px solid gray;
}

#myform .submit{
font: normal 12px Verdana;
height: 22px;
border: 1px solid #D10000;
background-color: black;
color: white;
}
        /* FIN MENU */
