@CHARSET "ISO-8859-1";

div {
	background-color:#E6E6FA;
}
#apDivFondo {
	position:absolute;
	width:1324px;
	height:1600px;
	z-index:1;
}
#apDivMenu {
	position:absolute;
	width:1265px;
	height:60px;
	left:30px;
	top:15px;
	z-index:3;
	text-align:center;
	font-style: oblique;
}
#apDivContenedorPelicula {
	position: absolute;
	width: 640px;
	height: 314px;
	left: 30px;
	top: 80px;
	z-index: 2;
}
#apDivImagenPelicula {
        position: absolute;
	width: 318px;
	height: 300px;
	left: 10px;
	top: 12px;
	z-index: 2;
}
#apDivInformacionPelicula {
        position: absolute;
	width: 250px;
	height: 300px;
	left: 365px;
	top: 12px;
	z-index: 2;
        
}
#apDiv4 {
	position: absolute;
	width: 621px;
	height: 255px;
	left: 674px;
	top: 80px;
	z-index: 2;
}
#apDiv5 {
	position:absolute;
	width:605px;
	height:40px;
	left:10px;
}
#apDiv6 {
	position: absolute;
	width: 621px;
	height: 1200px;
	left: 674px;
	top: 339px;
	z-index: 2;
}
#iframe1{
	position: absolute;
	width: 615px;
	height: 1100px;
	border: hidden;
}
#apDivSinopsis {
	position: absolute;
	width: 640px;
	left: 30px;
	top: 398px;
	height: 300px;
	z-index: 2;
}
#apDiv8 {
	position: absolute;
	width: 600px;
	left: 20px;
}
